In [1]:
import pandas as pd

In [2]:
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],columns=['Sex','Profession'])

In [3]:
q_df.fillna("others")

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [4]:
#此表格適合用 One-hot Encoding(一位有效編碼)來編碼，因為職業沒有順序性

In [5]:
pf=pd.get_dummies(q_df[['Sex']])
q_df=pd.concat([q_df,pf],axis=1)
print(q_df)

      Sex Profession  Sex_female  Sex_male
0    male    teacher           0         1
1    male   engineer           0         1
2  female       None           1         0
3  female   engineer           1         0