In [1]:
import pandas as pd

In [2]:
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], [4,70,77,89], [5,56,80,70], [6,60,54,55], [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])

In [3]:
score_df_index=score_df.set_index("student_id")
score_df_index

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [4]:
#第一題
score_df_index.mean(axis=1)[5:6]

student_id
6    56.333333
dtype: float64

In [5]:
#第二題
mean_score_df = score_df_index.mean(axis=1)
mean_score_df.median()

59.833333333333336

In [ ]:
#6號同學的的分數(56.333333)小於全班成績平均的中位數(59.833333333333336)，所以他沒有贏過班上一半的人

In [6]:
#第三題
score_df_index=score_df_index.apply(lambda x : x**(0.5)*10)
score_df_index[5:6]

            math_score  english_score  chinese_score
student_id
6            77.459667      73.484692      74.161985

In [7]:
#第四題
score_df_index.math_score.mean()

74.1942207648474

In [8]:
score_df_index.english_score.mean()

78.35030113852697

In [9]:
score_df_index.chinese_score.mean()

78.73992805288852