In [1]:
import pandas as pd

In [2]:
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], [4,70,77,89], [5,56,80,70], [6,60,54,55], [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])

In [3]:
score_df

   student_id  math_score  english_score  chinese_score
0           1          56             66             70
1           2          90             45             34
2           3          45             32             55
3           4          70             77             89
4           5          56             80             70
5           6          60             54             55
6           7          45             70             79
7           8          34             77             76
8           9          25             87             60
9          10          88             40             43

In [4]:
#第一題
score_df_1=score_df.mean(axis=1)
score_df_1[6]

50.25

In [5]:
#第二題
if score_df_1.mean()>score_df_1[6]:
    print("否")
elif score_df_1.mean()<score_df_1[6]:
    print("是")

是

In [6]:
#第三題
score_df_index=score_df.set_index("student_id")
score_df_index=score_df_index.apply(lambda x : x**(0.5)*10)
score_df_index[5:6]

            math_score  english_score  chinese_score
student_id
6            77.459667      73.484692      74.161985

In [7]:
#第四題
score_df_index.math_score.mean()

74.1942207648474

In [8]:
score_df_index.english_score.mean()

78.35030113852697

In [9]:
score_df_index.chinese_score.mean()

78.73992805288852